home-assistant/config
!home-assistant/config/automations.yaml
!home-assistant/config/configuration.yaml
!home-assistant/config/groups.yaml
!home-assistant/config/scenes.yaml
!home-assistant/config/scripts.yaml
