home-assistant/config/secrets.yaml
home-assistant/config/custom_components
home-assistant/config/known_devices.yaml
home-assistant/config/.*
home-assistant/config/*.log*
home-assistant/config/*.db*
home-assistant/config/*.sqlite*
home-assistant/config/*.xml
home-assistant/config/*.txt
home-assistant/config/downloads
home-assistant/tokens
home-assistant/config/core

!home-assistant/config/automations.yaml
!home-assistant/config/configuration.yaml
!home-assistant/config/groups.yaml
!home-assistant/config/scenes.yaml
!home-assistant/config/scripts.yaml
*.ovpn
*.token
*.env
*.env.*

openvpn/conf

wireshark/config/*
wireguard/config*

zigbee2mqtt/config/log

!mqtt/config
zigbee2mqtt/config/database.db
zigbee2mqtt/config/state.json

!zigbee2mqtt/config/configuration.yaml

